.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.content {
  color: var(--gray-300);
  line-height: 1.6;
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  color: var(--green-500);
  font-weight: bold;
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  color: var(--gray-400);
  font-size: 0.875rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.commentForm {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}

.commentForm > strong {
  color: var(--gray-100);
  line-height: 1.6;
}

.commentForm textarea {
  background-color: var(--gray-900);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  height: 6rem;
  width: 100%;
  resize: none;
  margin-top: 1rem;
  padding: 1rem;
  line-height: 1.4;
}

.commentForm footer {
  max-height: 0;
  visibility: hidden;
}

.commentForm:focus-within footer {
  max-height: none;
  visibility: visible;
}

.commentForm button[type="submit"] {
  cursor: pointer;
  background-color: var(--green-500);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  transition: background-color 100ms;
}

.commentForm button[type="submit"]:not(:disabled):hover {
  background-color: var(--green-300);
}

.commentForm button[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.commentList {
  margin-top: 2rem;
}
