.sidebar {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  height: 72px;
  width: 100%;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
  color: var(--gray-100);
  line-height: 1.6;
  margin-top: 1rem;
}

.profile span {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--green-500);
  font-weight: bold;
  text-decoration: none;
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
}

.sidebar footer a:hover {
  background-color: var(--green-500);
  color: var(--white);
  transition: color 100ms, background-color 100ms;
}
